* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 4px solid green !important;
}

li {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1280px;
  // margin-inline: auto;
  // padding-inline: 20px;
  margin: 0 auto;
  // padding: 0 20px;
}

body {
  background: rgb(247, 243, 250);
}

@media (max-width: 1000px) {
  body {
    background: rgb(255, 255, 255);
  }
}
